<ion-header>
	<ion-toolbar>
		<ion-title>Privacy & Data Security</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="DismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<p>This site is powered by Firebase and uses it for Authentication, Data Storage and Hosting.</p>

		<p>Firebase is a platform developed by Google for projects like this. It allows me to make functional web
			applications easily, for free. Your login information is stored in their dedicated Authentication system and
			all login processes are done using their Authentication API. The code for this project is also available on
			GitHub.</p>

		<a href="https://github.com/SmoothJazzAndChill/Eira-Spire-Web-Portal">Github Repository</a>

		<p>While I've tried my best to make this site secure, please be aware that I'm not an expert in web security and
			this site was built in my own time.</p>

		<p>There is no personal data visible anywhere in the App or this Web Portal with the exception of your First
			Name on the home page as a welcome message and the names of the people who own various Assets available for
			use by the group.</p>

		<p>
			If you have edit permissions, please be courteous of other peoples content and don't edit things without
			permission from the author.
		</p>
	</div>

</ion-content>