<ion-header>
	<ion-toolbar>
		<ion-title>
			Spell Editor
		</ion-title>
		<ion-buttons slot="end">
			<ion-text *ngIf="Error" color="danger">Please fill in the required fields before saving!</ion-text>
			<ion-button (click)="Submit()">Save</ion-button>
			<ion-button (click)="DismissModal()">Exit</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="SpellData">
		<ion-toolbar>
			<ion-title>
				Details
			</ion-title>
		</ion-toolbar>
		<ion-list>
			<ion-item>
				<ion-label>Category<span class="required">*</span></ion-label>
				<ion-select placeholder="Select one" formControlName="Category">
					<ion-select-option value="Standard">Standard</ion-select-option>
					<ion-select-option value="Offensive">Offensive</ion-select-option>
					<ion-select-option value="Ritual">Ritual</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Name<span class="required">*</span></ion-label>
				<ion-input placeholder="Spell name" formControlName="Name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Cost<span class="required">*</span></ion-label>
				<ion-input placeholder="1" formControlName="Cost" type="number"></ion-input>
			</ion-item>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Description<span class="required">*</span></ion-label>
					<editor formControlName="Description" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | help'
						  }"></editor>
				</div>
			</ion-item>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Effects<span class="required">*</span></ion-label>
					<editor formControlName="Effects" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | help'
						  }"></editor>
				</div>
			</ion-item>
		</ion-list>
	</form>

	<ion-toolbar>
		<ion-title>
			Sections
		</ion-title>
	</ion-toolbar>
	<form *ngFor="let _Section of SpellSections; index as i" [formGroup]="SpellSections[i]">
		<ion-list class="Section" lines="none">
			<ion-item>
				<ion-input placeholder="Heading" formControlName="Heading"></ion-input>
			</ion-item>
			<ion-item>
				<editor formControlName="Body" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | help'
						  }"></editor>
			</ion-item>
			<ion-item>
				<ion-button fill="outline" expand="block" (click)="DeleteSection(i)">Delete Section</ion-button>
			</ion-item>
		</ion-list>
	</form>
	<ion-item>
		<ion-button expand="block" (click)="AddSection()">New Section</ion-button>
	</ion-item>
</ion-content>