<ion-header>
	<ion-toolbar>
		<ion-title>
			Character Editor
		</ion-title>
		<ion-buttons slot="end">
			<ion-text *ngIf="Error" color="danger">Please fill in the required fields before saving!</ion-text>
			<ion-button (click)="Submit()">Save</ion-button>
			<ion-button (click)="DismissModal()">Exit</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="CharacterData">
		<ion-toolbar>
			<ion-title>
				Status
			</ion-title>
		</ion-toolbar>
		<ion-list>
			<ion-item>
				<ion-label>Alive</ion-label>
				<ion-checkbox formControlName="Alive"></ion-checkbox>
			</ion-item>
			<ion-item>
				<ion-label>Retired</ion-label>
				<ion-checkbox formControlName="Retired"></ion-checkbox>
			</ion-item>
		</ion-list>

		<ion-toolbar>
			<ion-title>Details</ion-title>
		</ion-toolbar>

		<ion-list>
			<ion-item>
				<ion-label>First Name<span class="required">*</span></ion-label>
				<ion-input placeholder="First Name" formControlName="FirstName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Last Name</ion-label>
				<ion-input placeholder="Last Name" formControlName="LastName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Name</ion-label>
				<ion-input placeholder="Earned Name" formControlName="EarnedName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Identity<span class="required">*</span></ion-label>
				<ion-input placeholder="Identity" formControlName="Identity"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Age<span class="required">*</span></ion-label>
				<ion-input type="number" formControlName="Age"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Preferred Pronouns<span class="required">*</span></ion-label>
				<ion-select placeholder="Select one" formControlName="Gender">
					<ion-select-option value="He/Him">He/Him</ion-select-option>
					<ion-select-option value="She/Her">She/Her</ion-select-option>
					<ion-select-option value="They/Them">They/Them</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Lineage<span class="required">*</span></ion-label>
				<ion-select placeholder="Select one" formControlName="Lineage">
					<ion-select-option value="Human">None</ion-select-option>
					<ion-select-option value="Briar">Briar</ion-select-option>
					<ion-select-option value="Cambion">Cambion</ion-select-option>
					<ion-select-option value="Changeling">Changeling</ion-select-option>
					<ion-select-option value="Draughir">Draughir</ion-select-option>
					<ion-select-option value="Merrow">Merrow</ion-select-option>
					<ion-select-option value="Naga">Naga</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Virtue<span class="required">*</span></ion-label>
				<ion-select placeholder="Select one" formControlName="Virtue">
					<ion-select-option value="None">None</ion-select-option>
					<ion-select-option value="Ambition">Ambition</ion-select-option>
					<ion-select-option value="Courage">Courage</ion-select-option>
					<ion-select-option value="Loyalty">Loyalty</ion-select-option>
					<ion-select-option value="Pride">Pride</ion-select-option>
					<ion-select-option value="Prosperity">Prosperity</ion-select-option>
					<ion-select-option value="Vigilance">Vigilance</ion-select-option>
					<ion-select-option value="Wisdom">Wisdom</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Rank<span class="required">*</span></ion-label>
				<ion-select placeholder="Select one" formControlName="Rank">
					<ion-select-option value="0">Thane</ion-select-option>
					<ion-select-option value="1">Head Advisor</ion-select-option>
					<ion-select-option value="2">Stone Circle</ion-select-option>
					<ion-select-option value="3">Guard</ion-select-option>
					<ion-select-option value="4">Citizen</ion-select-option>
					<ion-select-option value="5">Associate</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Summary</ion-label>
					<editor formControlName="Summary" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
						height: 500,
						menubar: true,
						plugins: ['code'],
						toolbar:
						  'undo redo | formatselect | bold italic | \
						  alignleft aligncenter alignright alignjustify | \
						  bullist numlist outdent indent | code'
					  }"></editor>
				</div>
			</ion-item>
		</ion-list>

		<ion-toolbar>
			<ion-title>
				Skills
			</ion-title>
		</ion-toolbar>

		<ion-list>
			<ion-item>
				<div class="Skills">
					<ion-button fill="outline" (click)="OpenSkillsPopover()">Add Skill</ion-button>
					<ion-button item-content *ngFor="let _Skill of CharacterSkills | skillSort"
						(click)="RemoveSkill(_Skill)">{{_Skill.Name}}<span
							*ngIf="_Skill.Count > 1">&nbsp;x{{_Skill.Count}}</span>
					</ion-button>
				</div>
			</ion-item>
		</ion-list>

		<ng-container *ngIf="IsApothecary()">
			<ion-toolbar>
				<ion-title>Potions</ion-title>
			</ion-toolbar>

			<ion-list>
				<ion-item>
					<div class="Skills">
						<ion-button fill="outline" (click)="OpenPotionsPopover()">Add Potion</ion-button>
						<ion-button fill="outline" (click)="OpenPotionCategories()">Add Potion Category</ion-button>
						<ion-button item-content *ngFor="let _Potion of CharacterPotions | skillSort"
							(click)="RemovePotion(_Potion)">{{_Potion.Name}}
						</ion-button>
					</div>
				</ion-item>
			</ion-list>
		</ng-container>

		<ng-container *ngIf="IsMagician()">
			<ion-toolbar>
				<ion-title>Spells</ion-title>
			</ion-toolbar>

			<ion-list>
				<ion-item>
					<div class="Skills">
						<ion-button fill="outline" (click)="OpenSpellsPopover()">Add Spell</ion-button>
						<ion-button item-content *ngFor="let _Spell of CharacterSpells | skillSort"
							(click)="RemoveSpell(_Spell)">{{_Spell.Name}}
						</ion-button>
					</div>
				</ion-item>
			</ion-list>
		</ng-container>

		<ion-toolbar>
			<ion-title>Story</ion-title>
		</ion-toolbar>
		<ion-list>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Background</ion-label>
					<editor formControlName="Background" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							plugins: ['code'],
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | code'
						  }"></editor>
				</div>
			</ion-item>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Name Story</ion-label>
					<editor formControlName="NameStory" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							plugins: ['code'],
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | code'
						  }"></editor>

				</div>
			</ion-item>
			<ion-item>
				<div class="TextEntry">
					<ion-label>Death Story</ion-label>
					<editor formControlName="DeathStory" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
						class="text-area" [init]="{
							height: 500,
							menubar: true,
							plugins: ['code'],
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | code'
						  }"></editor>
				</div>
			</ion-item>
		</ion-list>
	</form>

	<ion-toolbar>
		<ion-title>
			Sections
		</ion-title>
	</ion-toolbar>
	<form *ngFor="let _Section of CharacterSections; index as i" [formGroup]="CharacterSections[i]">
		<ion-list class="Section" lines="none">
			<ion-item>
				<ion-input placeholder="Heading" formControlName="Heading"></ion-input>
			</ion-item>
			<ion-item>
				<editor formControlName="Body" apiKey="6zoo8lpf2bpnvalsp63c53o3mbntdaidtfqf1q7bwmnt5i7d"
					class="text-area" [init]="{
							height: 500,
							menubar: true,
							plugins: ['code'],
							toolbar:
							  'undo redo | formatselect | bold italic | \
							  alignleft aligncenter alignright alignjustify | \
							  bullist numlist outdent indent | code'
						  }"></editor>
			</ion-item>
			<ion-item>
				<ion-button fill="outline" expand="block" (click)="DeleteSection(i)">Delete Section</ion-button>
			</ion-item>
		</ion-list>
	</form>
	<ion-item>
		<ion-button expand="block" (click)="AddSection()">New Section</ion-button>
	</ion-item>
</ion-content>