ion-label {
	min-width: 20%;
}

ion-input, ion-textarea {
	border: 1px solid rgba(var(--ion-color-primary-rgb), 0.2);
	border-radius: 5px;
	--padding-start: 10px!important;
}

ion-textarea {
	margin-bottom: 10px;
}

.Skills {
	display:flex;
	width: 100%;
	flex-flow: wrap;
	max-width: 100%;
}

.TextEntry {
	display:flex;
	flex-direction: column;
	width: 100%;
	justify-content: left;
	margin-top: 10px;
}

.Section {
	margin: 5px;
	border: 1px solid rgba(var(--ion-color-secondary-rgb), 0.2);
	border-radius: 5px;
}