ion-menu {
	--background: var(--ion-color-secondary-shade);
	--background: -webkit-linear-gradient(-45deg, var(--ion-color-secondary-shade) 0%,var(--ion-color-secondary) 33%,var(--ion-color-primary-shade) 66%,var(--ion-color-primary) 100%);
}

ion-list {
	background: none;
}

ion-item {
	--background: none!important;
}

ion-item.selected {
  --color: var(--ion-color-tertiary);
}

ion-split-pane {
	--side-min-width: 80px;
	--side-max-width: 80px;
	--border: none;
}

ion-icon {
	display: block;
	width: 100%;
	color: var(--ion-color-tertiary);
}