ion-menu {
	--background: var(--ion-color-secondary);
}

ion-list {
	background: none;
}

ion-item {
	--background: none!important;
	--padding-start: 0px;
}

ion-item.selected {
  --color: var(--ion-color-tertiary);
}

ion-split-pane {
	--side-min-width: 80px;
	--side-max-width: 80px;
	--border: none;
}

ion-icon {
	display: block;
	width: 100%;
	color: var(--ion-color-tertiary);
}