<app-header></app-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-title color="secondary">Welcome, {{_AuthService.UserData.FirstName}}.</ion-title>
		</ion-item>
	</ion-list>
	<div class="content">
		<h3>Welcome to the Eira Spire web portal!</h3>
		<h1 *ngIf="_Platform.is('mobile')">This site is best viewed on desktop!</h1>
		<h4>What's this for?</h4>
		<p>On this site you can edit the content in the database behind the Eira Spire App.</p>
		<h4>Why does this exist?</h4>
		<p>As part of my new job I've been building Mobile Apps, and I had the idea that it would be cool for Eira Spire
			to have an app that acts as an offical repository of information that newcomers to the Hall could download
			and look at without having to give strangers the link to the OneNote.</p>
		<p>After building the App I decided that it would be better for the content to be dynamic rather than hard coded
			so I setup a database for it to pull the data from. This had the problem of being a pain to edit and wasn't
			accessible to others, so I built this Portal to act as a backend for the mobile App that can be accessed by
			anyone.</p>
		<p>This site is best viewed on Desktop. You can use a mobile web browser, but the interface is not designed with
			that in mind.</p>
		<p>If you encounter any issues or have any questions, contact Simon. Don't hesitate to offer suggestions for
			improvement</p>
		<ion-card>
			<ion-card-header>
				<ion-card-title>Development</ion-card-title>
				<ion-card-subtitle>You can follow the development or submit issues on the <a
						href="https://github.com/SmoothJazzAndChill/Eira-Spire-Web-Portal" target="_new">GitHub
						Repository</a></ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<h2>Upcoming Features</h2>
				<ul>
					<li>Profile Settings</li>
					<li>Pre-defined Page Categories</li>
					<li>"Branded" password reset and email verification pages</li>
					<li>App style page and character viewers</li>
					<li>Mobile Web Browser interface pass</li>
					<li>Dynamic Editor Schemas for greater control</li>
				</ul>
				<h2>Known Issues</h2>
				<ul>
					<li>
						Some buttons don't work properly on mobile web browsers
					</li>
					<li>
						Using mouse scroll in skills/potions/spells popover window doesn't work
					</li>
				</ul>

				<h2>Change Log</h2>
				<ul class="changelog">
					<li>
						<h3>v.1.2.0</h3>
						<ul>
							<li>Updated framework and packages to the latest versions</li>
							<li>Code cleanup</li>
							<li>Changed: Changed all text editors to be WYSIWYG. No more writing HTML!</li>
						</ul>
					</li>
					<li>
						<h4>v.1.1.7</h4>
						<ul>
							<li>Changed: Changed icon for assets page</li>
						</ul>						
					</li>
					<li>
						<h4>v.1.1.6</h4>
						<ul>
							<li>Changed: Made Last Name no longer required</li>
							<li>Fixed: Typo when choosing Wisdom</li>
						</ul>
					</li>

					<li>
						<h4>v.1.1.5</h4>
						<ul>
							<li>Changed: Gender field to Preferred Pronouns</li>
						</ul>
					</li>
					<li>
						<h4>v.1.1.4</h4>
						<ul>
							<li>Changed: Wording for some things</li>
						</ul>
					</li>
					<li>
						<h4>v.1.1.3</h4>
						<ul>
							<li>Fixed: American Last Edit time</li>
							<li>Fixed: Pages loading when not logged in</li>
						</ul>
					</li>
					<li>
						<h4>v.1.1.2</h4>
						<ul>
							<li>Added: Assets Page and Editor</li>
							<li>Changed: Potion Viewer Styling</li>
						</ul>
					</li>
					<li>
						<h4>v.1.1.1</h4>
						<ul>
							<li>Fixed: Issue with how skills, potions and skills are linked to characters</li>
						</ul>
					</li>
					<li>
						<h3>v.1.1.0</h3>
						<ul>
							<li>Added: Potion Selection, Page, & Editor</li>
							<li>Added: Spell Selection, Page, & Editor</li>
							<li>Added: Skill Page & Editor</li>
							<li>Added: Character Section Editing</li>
							<li>Changed: Made improvements to editor layout</li>
							<li>Changed: Skills now in Categories</li>
							<li>Fixed: Text areas being too small in editors</li>
						</ul>
					</li>

					<li>
						<h4>v.1.0.3</h4>
						<ul>
							<li>Added: Help page</li>
						</ul>
					</li>

					<li>
						<h4>v.1.0.2</h4>
						<ul>
							<li>Fixed: Summary content not rendering HTML</li>
							<li>Fixed: Death Story content not rendering HTML</li>
						</ul>
					</li>

					<li>
						<h4>v.1.0.1</h4>
						<ul>
							<li>Changed: Home Page Text</li>
							<li>Fix: Home page falling off screen on mobile web browsers</li>
							<li>Fix: Home page text being too close to the edge of the screen on mobile web browsers
							</li>
						</ul>
					</li>

					<li>
						<h3>v.1.0.0</h3>
						<ul>
							<li>Initial Release!</li>
						</ul>
					</li>
				</ul>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>