<ion-header>
	<ion-toolbar>
		<ion-title>Page Viewer</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="DismissModal()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="page">
		<h1>{{Data.Title}}</h1>
		<h2>{{Data.Subtitle}}</h2>
		<h3>By {{Data.Author}} | {{Data.Category}}</h3>

		<section *ngIf="Data.Body" [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Body)">
		</section>

		<section *ngFor="let _Section of Data.Sections; index as i">
			<h1>{{_Section.Heading}}
				<span class="right">
					<ion-icon *ngIf="!HideSections[i]" (click)="HideSections[i] = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideSections[i]" (click)="HideSections[i] = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(_Section.Body)" [class]="HideSections[i] ? 'hidden' : ''"></div>
		</section>
	</div>
</ion-content>
