<ion-content>
	<div class="login">
		<div class="logo">
		</div>
		<form [formGroup]="Recovery" (ngSubmit)="Submit()">
			<ion-item>
				<p>Password Reset</p>
			</ion-item>
			<ion-input type="email" formControlName="email" placeholder="Email" (keyup.enter)="Submit()"></ion-input>
			<div class="buttons">
				<ion-button routerLink="/login">Back</ion-button>
				<ion-button type="submit">Request Email</ion-button>
			</div>
			<ion-item lines="none">
				<p class="error" *ngIf="Error">{{Error}}</p>
				<p *ngIf="Response">{{Response}}</p>
			</ion-item>
		</form>
	</div>
</ion-content>