<app-header></app-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-title color="secondary">Characters</ion-title>
		</ion-item>
		<ion-item lines="none">
			<ion-text>Here you can see a list of all characters. To edit one, use the options menu; to create one, click Add. If you wish to delete one, contact Simon.</ion-text>
		</ion-item>
		<ion-item lines="none">
			<ion-grid>
				<ion-row class="Labels">
					<ion-col class="Status">Status</ion-col>
					<ion-col>Name</ion-col>
					<ion-col>Earned Name</ion-col>
					<ion-col>Identity</ion-col>
					<ion-col class="Age">Age</ion-col>
					<ion-col>Pronouns</ion-col>
					<ion-col>Lineage</ion-col>
					<ion-col>Virtue</ion-col>
					<ion-col>Rank</ion-col>
					<ion-col class="Options">Options</ion-col>
				</ion-row>
				<ion-row class="Characters" *ngFor="let _Character of _DataService.CharacterData">
					<ion-col class="Status">{{_Character.Alive ? (_Character.Retired ? "Retired" : "Alive") : "Dead"}}</ion-col>
					<ion-col>{{_Character.FirstName}} {{_Character.LastName}}</ion-col>
					<ion-col>{{_Character.EarnedName}}</ion-col>
					<ion-col>{{_Character.Identity}}</ion-col>
					<ion-col class="Age">{{_Character.Age}}</ion-col>
					<ion-col>{{_Character.Gender}}</ion-col>
					<ion-col>{{_Character.Lineage}}</ion-col>
					<ion-col>{{_Character.Virtue}}</ion-col>
					<ion-col>{{GetRankString(_Character.Rank)}}</ion-col>
					<ion-col class="Options">
						<ion-buttons>
							<ion-button (click)="OpenOptions($event, _Character)">
								<ion-icon name="ellipsis-horizontal-outline"></ion-icon>
							</ion-button>
						</ion-buttons>
					</ion-col>
				</ion-row>
				<ion-row *ngIf="_AuthService.UserData.Verified">
					<ion-col>
						<ion-button expand="block" (click)="OpenEditor()">Add</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
</ion-content>